@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Mousik Player</h1>
    <p>A .NET web project that interfaces with the Spotify API to play music from selected playlists.</p>
</div>
